
$gradient: linear-gradient(270deg, #AA51C9 0%, #1E0094 100%);
$gradient-hover: linear-gradient(270deg, #AA51C9 0%, #4c29d9 100%);
$white: #fff;
$blue: #DDFFF7;
$primary: #730998;
$dark: #2B0039;

$fsizeXS: 13px;
$fsizeS: 15px;
$fsizeSS: 20px;
$fsizeM: 25px;
$fsizeL: 30px;
$fsizeXL: 40px;


$fLight: 300;
$fRegular: 400;
$fMedium: 500;
$fSemiBold: 600;
$fBold: 700;
$fBlack: 900; 

$padS: 1.5rem;